*, *:after, *:before {
  box-sizing: border-box; }

body, html {
  margin: 0;
  font-family: proximanova-webfont; }

@font-face {
  font-family: 'proximanova-webfont';
  src: url("webfont.eot");
  /* IE9 Compat Modes */
  src: url("./f/proximanova-regular-webfont.woff") format("woff"), url("f/proxima-nova-regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }
body {
  min-height: 100vh;
  background-color: #f6f6f6; }

.request-for-demo-button a, .navbar-wrapper .navbar .right-nav .req-demo {
  background: #f15d5b;
  line-height: 42px;
  height: 40px;
  display: inline-block;
  color: #fff;
  padding: 0 24px;
  text-decoration: none;
  border-radius: 3px 3px; }

.content-container {
  padding-top: 64px;
  max-width: 900px;
  margin: auto; }

.navbar-wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.98);
  opacity: 0;
  -webkit-transition: opacity ease-in 400ms;
  -moz-transition: opacity ease-in 400ms;
  transition: opacity ease-in 400ms; }
  .navbar-wrapper.open {
    opacity: 1;
    visibility: visible;
    border-bottom: solid 1px rgba(30, 188, 186, 0.27); }

.navbar {
  height: 64px;
  max-width: 1175px;
  margin: auto; }
  .navbar .left-nav .brand {
    display: inline-block;
    padding: 6px 12px; }
    .navbar .left-nav .brand img {
      height: 52px; }
  .navbar .right-nav {
    float: right;
    line-height: 64px;
    color: #28BABA; }
    .navbar .right-nav a {
      text-decoration: none;
      padding: 0 12px;
      height: 100%;
      display: inline-block;
      color: inherit; }
    .navbar .right-nav .dropdown-wrapper {
      display: inline-block;
      height: 64px;
      position: relative; }
      .navbar .right-nav .dropdown-wrapper .dropdown {
        position: absolute;
        top: 64px;
        right: 0;
        visibility: hidden;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }
        .navbar .right-nav .dropdown-wrapper .dropdown a {
          -webkit-transition: all ease 400ms;
          -moz-transition: all ease 400ms;
          transition: all ease 400ms;
          opacity: 0;
          display: block;
          line-height: normal;
          width: 160px;
          border-bottom: solid 1px #bdf1f1;
          background: #fff;
          padding: 12px 12px; }
          .navbar .right-nav .dropdown-wrapper .dropdown a:last-child {
            border-bottom: none; }
      .navbar .right-nav .dropdown-wrapper:hover .dropdown {
        visibility: visible; }
        .navbar .right-nav .dropdown-wrapper:hover .dropdown a {
          opacity: 1; }
  @media screen and (max-width: 600px) {
    .navbar .left-nav .brand {
      padding: 12px; }
      .navbar .left-nav .brand img {
        height: 40px; }
    .navbar .right-nav a {
      padding: 0 6px;
      font-size: 14px; } }

.first {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  -webkit-transition: -webkit-transform ease-out 400ms;
  -moz-transition: -moz-transform ease-out 400ms;
  transition: transform ease-out 400ms;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media screen and (max-width: 900px) {
    .first {
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .first.open {
    visibility: visible;
    overflow-y: scroll; }
    .first.open .center-tile-container {
      padding-top: 64px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      display: block;
      text-align: center;
      width: 60%;
      opacity: 1; }
      .first.open .center-tile-container .tile-wrapper {
        width: 200px;
        height: 200px;
        display: inline-block;
        margin: 10px;
        z-index: 15;
        opacity: 1;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none; }
        .first.open .center-tile-container .tile-wrapper.zIndex {
          z-index: 20; }
          .first.open .center-tile-container .tile-wrapper.zIndex .tile {
            z-index: 15; }
        .first.open .center-tile-container .tile-wrapper .tile {
          position: relative;
          float: left;
          display: inline-block;
          width: 200px;
          height: 200px;
          border-radius: 2px;
          background-color: #fff;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.13725) 0px 5px 8px 0px, rgba(0, 0, 0, 0.11765) 0px 1px 14px 0px;
          -webkit-transition: all ease-out 200ms, z-index linear 10ms;
          -moz-transition: all ease-out 200ms, z-index linear 10ms;
          transition: all ease-out 200ms, z-index linear 10ms;
          overflow: hidden;
          z-index: 5;
          margin-bottom: 20px; }
          .first.open .center-tile-container .tile-wrapper .tile img {
            width: 100px;
            display: block;
            margin: auto;
            -webkit-transition: all ease 400ms;
            -moz-transition: all ease 400ms;
            transition: all ease 400ms; }
          .first.open .center-tile-container .tile-wrapper .tile .img-wrapper {
            height: 200px;
            width: 200px;
            padding: 16px;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            box-orient: vertical;
            -webkit-box-direction: normal;
            -moz-box-direction: normal;
            box-direction: normal;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            flex-direction: column;
            -ms-flex-direction: column;
            -webkit-box-align: center;
            -moz-box-align: center;
            box-align: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -ms-flex-align: center;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            box-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            -ms-flex-pack: center;
            -webkit-box-lines: single;
            -moz-box-lines: single;
            box-lines: single;
            -webkit-flex-wrap: nowrap;
            -moz-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
          .first.open .center-tile-container .tile-wrapper .tile .img-title {
            text-align: center;
            margin-top: 12px; }
          .first.open .center-tile-container .tile-wrapper .tile .content {
            padding: 12px;
            margin-top: -12px;
            font-size: 14px;
            visibility: hidden;
            opacity: 0;
            line-height: 24px;
            color: #7f7f7f;
            text-align: center;
            -webkit-transition: opacity ease 400ms 200ms;
            -moz-transition: opacity ease 400ms 200ms;
            transition: opacity ease 400ms 200ms; }
        .first.open .center-tile-container .tile-wrapper.expanded {
          z-index: 20; }
          .first.open .center-tile-container .tile-wrapper.expanded .tile {
            height: 360px;
            z-index: 15;
            box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2), 0 7px 10px 1px rgba(0, 0, 0, 0.14), 0 2px 16px 1px rgba(0, 0, 0, 0.12);
            box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 8px -4px, rgba(0, 0, 0, 0.13725) 0px 12px 17px 2px, rgba(0, 0, 0, 0.11765) 0px 5px 22px 4px; }
            .first.open .center-tile-container .tile-wrapper.expanded .tile .content {
              opacity: 1;
              visibility: visible; }
    .first.open .right-phones {
      overflow: hidden;
      width: 40%;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; }
      .first.open .right-phones .phone-wrapper {
        position: relative;
        display: block;
        margin: auto;
        width: 300px;
        height: 300px; }
        .first.open .right-phones .phone-wrapper .device {
          height: 240px;
          position: absolute;
          left: 0;
          top: 0;
          -webkit-animation-name: hoverY;
          -moz-animation-name: hoverY;
          animation-name: hoverY;
          -webkit-animation-iteration-count: infinite;
          -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-timing-function: ease-in-out;
          -moz-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }
          .first.open .right-phones .phone-wrapper .device.android {
            top: 20px;
            left: 145px;
            z-index: 9;
            animation-duration: 21.6s; }
          .first.open .right-phones .phone-wrapper .device.iphone {
            top: 20px;
            left: 100px;
            z-index: 7;
            animation-duration: 23.4s; }
          .first.open .right-phones .phone-wrapper .device.tablet {
            top: 10px;
            left: 0px;
            opacity: 1;
            animation-duration: 18s; }
      .first.open .right-phones .tagline {
        text-align: center;
        font-size: 20px;
        color: #F15D5A; }
    @media screen and (max-width: 900px) {
      .first.open .center-tile-container {
        width: 100%; }
      .first.open .right-phones {
        width: 100%;
        margin-bottom: 20px; }
        .first.open .right-phones .phone-wrapper {
          margin: auto; } }
    .first.open .screenshot {
      opacity: 1;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; }
  .first .center-tile-container {
    opacity: 0;
    -webkit-transition: all ease 400ms;
    -moz-transition: all ease 400ms;
    transition: all ease 400ms; }
  .first .screenshot {
    -webkit-transition: all ease 400ms;
    -moz-transition: all ease 400ms;
    transition: all ease 400ms;
    -webkit-transform: translateY(40%);
    -moz-transform: translateY(40%);
    -ms-transform: translateY(40%);
    -o-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0; }

.second {
  background-image: url(../img/parts/back.jpg);
  background-size: cover;
  min-height: 100vh;
  -webkit-transition: -webkit-transform ease-out 400ms;
  -moz-transition: -moz-transform ease-out 400ms;
  transition: transform ease-out 400ms;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  .second .half-pen-wrapper {
    display: block;
    max-width: 340px;
    margin: auto; }
    .second .half-pen-wrapper .half-pen {
      height: 500px; }
  .second .typephase-wrapper {
    display: block;
    margin: auto; }
    .second .typephase-wrapper .typephase {
      display: block;
      margin: auto;
      max-width: 800px; }
  .second.done {
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }

.arrow-wrapper {
  margin: auto;
  width: 100px; }

@-webkit-keyframes hoverY {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1); }
  10% {
    -webkit-transform: translate(1px, 2px) scale(1);
    transform: translate(1px, 2px) scale(1); }
  20% {
    -webkit-transform: translate(0, -3px) scale(1);
    transform: translate(0, -3px) scale(1); }
  30% {
    -webkit-transform: translate(-1px, 3px) scale(1);
    transform: translate(-1px, 3px) scale(1); }
  40% {
    -webkit-transform: translate(0, -1px) scale(1);
    transform: translate(0, -1px) scale(1); }
  50% {
    -webkit-transform: translate(-1px, 0) scale(1);
    transform: translate(-1px, 0) scale(1); }
  60% {
    -webkit-transform: translate(0, -3px) scale(1);
    transform: translate(0, -3px) scale(1); }
  70% {
    -webkit-transform: translate(1px, 2px) scale(1);
    transform: translate(1px, 2px) scale(1); }
  80% {
    -webkit-transform: translate(0, -3px) scale(1);
    transform: translate(0, -3px) scale(1); }
  90% {
    -webkit-transform: translate(-1px, 1px) scale(1);
    transform: translate(-1px, 1px) scale(1); }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1); } }
@-moz-keyframes hoverY {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1); }
  10% {
    -webkit-transform: translate(1px, 2px) scale(1);
    transform: translate(1px, 2px) scale(1); }
  20% {
    -webkit-transform: translate(0, -3px) scale(1);
    transform: translate(0, -3px) scale(1); }
  30% {
    -webkit-transform: translate(-1px, 3px) scale(1);
    transform: translate(-1px, 3px) scale(1); }
  40% {
    -webkit-transform: translate(0, -1px) scale(1);
    transform: translate(0, -1px) scale(1); }
  50% {
    -webkit-transform: translate(-1px, 0) scale(1);
    transform: translate(-1px, 0) scale(1); }
  60% {
    -webkit-transform: translate(0, -3px) scale(1);
    transform: translate(0, -3px) scale(1); }
  70% {
    -webkit-transform: translate(1px, 2px) scale(1);
    transform: translate(1px, 2px) scale(1); }
  80% {
    -webkit-transform: translate(0, -3px) scale(1);
    transform: translate(0, -3px) scale(1); }
  90% {
    -webkit-transform: translate(-1px, 1px) scale(1);
    transform: translate(-1px, 1px) scale(1); }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1); } }
@keyframes hoverY {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1); }
  10% {
    -webkit-transform: translate(1px, 2px) scale(1);
    transform: translate(1px, 2px) scale(1); }
  20% {
    -webkit-transform: translate(0, -3px) scale(1);
    transform: translate(0, -3px) scale(1); }
  30% {
    -webkit-transform: translate(-1px, 3px) scale(1);
    transform: translate(-1px, 3px) scale(1); }
  40% {
    -webkit-transform: translate(0, -1px) scale(1);
    transform: translate(0, -1px) scale(1); }
  50% {
    -webkit-transform: translate(-1px, 0) scale(1);
    transform: translate(-1px, 0) scale(1); }
  60% {
    -webkit-transform: translate(0, -3px) scale(1);
    transform: translate(0, -3px) scale(1); }
  70% {
    -webkit-transform: translate(1px, 2px) scale(1);
    transform: translate(1px, 2px) scale(1); }
  80% {
    -webkit-transform: translate(0, -3px) scale(1);
    transform: translate(0, -3px) scale(1); }
  90% {
    -webkit-transform: translate(-1px, 1px) scale(1);
    transform: translate(-1px, 1px) scale(1); }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1); } }

/*# sourceMappingURL=main.css.map */
