@import './bourbon/bourbon';
@import './variables';
@import './functions';
*,*:after,*:before{
	box-sizing: border-box;
}
body, html{
	margin: 0;
	font-family: proximanova-webfont;
}
@font-face {
  font-family: 'proximanova-webfont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('./f/proximanova-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('f/proxima-nova-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
body{
	min-height: 100vh;
	background-color: #f6f6f6;
	// @include radial-gradient(circle at 0 0, lighten(#999,30%) 0%, lighten(#999,20%));
}
.request-for-demo-button a,.navbar-wrapper .navbar .right-nav .req-demo{
	background: #f15d5b;
    line-height: 42px;
    height: 40px;
    display: inline-block;
    color: #fff;
    padding: 0 24px;
    text-decoration: none;
    border-radius: 3px 3px;
}
.content-container{
	padding-top: $navH;
	max-width: 900px;
	margin: auto;
}
.navbar-wrapper{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	width: 100%;
	visibility: hidden;
	background-color: rgba(255,255,255,0.98);
	opacity: 0;
	@include transition(opacity ease-in 400ms);
	&.open{
		opacity: 1;
		visibility: visible;
		border-bottom: solid 1px rgba(30, 188, 186, 0.27);
	}
}
.navbar{
	$h: $navH;
	height: $h;
	max-width: 1175px;
	margin: auto;
	.left-nav{
		.brand{
			display: inline-block;
			padding: 6px 12px;
			img{
				height: 52px;
			}
		}
	}
	.right-nav{
		float: right;
		line-height: $navH;
		color: $colorPrimary;
		a{
			text-decoration: none;
			padding: 0 12px;
			height: 100%;
			display: inline-block;
			color: inherit;
		}
		.dropdown-wrapper{
			display: inline-block;
			height: $navH;
			position: relative;
			.dropdown{
				position: absolute;
				top: $navH;// - 1px;
				right: 0;
				visibility: hidden;
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
				a{
					@include transition(all ease 400ms);
					opacity: 0;
					display: block;
					line-height: normal;
					width: 160px;
					border-bottom: solid 1px lighten($colorPrimary,40%);
					background: #fff;
					padding: 12px 12px;
					&:last-child{
						border-bottom: none;
					}
				}
			}
			&:hover{
				.dropdown{
					visibility: visible;
					a{
						opacity: 1;
					}
				}
			}
		}
	}
	@media screen and (max-width: 600px){
		.left-nav{
			.brand{
				padding: 12px;
				img{
					height: 40px;
				}
			}
		}
		.right-nav{
			a{
				padding: 0 6px;
				font-size: 14px;
			}
		}
	}
}
.first{
	// position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	min-height: 100vh;
	// visibility: hidden;
	// @include transform(translateY(0) scale(0));
	@include transition(transform ease-out 400ms);
	@include display(flex);
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(space-between);
	@include flex-wrap(nowrap);
	@media screen and (max-width: 900px){
		@include flex-wrap(wrap);
	}
	&.open{
		// @include transform(translateY(0) scale(1));
		visibility: visible;
		overflow-y: scroll;
		.center-tile-container{
			// min-height: 100vh;
			padding-top: $navH;
			padding-bottom: 20px;
			margin-bottom: 20px;
			display: block;
			text-align: center;
			width: 60%;
			opacity: 1;
			.tile-wrapper{
				$x: 200px;
				width: $x ;//+ 20px;
				height: $x ;//+ 20px;
				display: inline-block;
				margin: 10px;
				z-index: 15;
				opacity: 1;
				@include transform(none);
				// @include transition(z-index linear 10ms);
				&.zIndex{
					z-index: 20;
					.tile{
						z-index: 15;
					}
				}
				// overflow: hidden;
				.tile{
					position: relative;
					float: left;
					display: inline-block;
					width: $x;
					height: $x;
					border-radius: 2px;
					background-color: #fff;
					box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
					box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.137255) 0px 5px 8px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 14px 0px;
					@include transition(all ease-out 200ms, z-index linear 10ms);
					// padding: 12px;
					overflow: hidden;
					z-index: 5;
					margin-bottom: 20px;
					img{
						width: 100px;
						display: block;
						margin: auto;
						@include transition(all ease 400ms);
					}
					.img-wrapper{
						height: $x;
						width: $x;
						padding: 16px;
						@include display(flex);
						@include flex-direction(column);
						@include align-items(center);
						@include justify-content(center);
						@include flex-wrap(nowrap);
					}
					.img-title{
						text-align: center;
						margin-top: 12px;
					}
					.content{
						padding: 12px;
						margin-top: -12px;
						font-size: 14px;
						visibility: hidden;
						opacity: 0;
						line-height: 24px;
						color: #7f7f7f;
						text-align: center;
						@include transition(opacity ease 400ms 200ms);
					}
				}
				&.expanded{
					z-index: 20;
					// overflow: visible;
					.tile{
						height: 360px;
						// width: 300px;
						z-index: 15;
						// padding: 16px;
						img{
							// width: 140px;
						}
						box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12);
						box-shadow:  rgba(0, 0, 0, 0.2) 0px 7px 8px -4px, rgba(0, 0, 0, 0.137255) 0px 12px 17px 2px, rgba(0, 0, 0, 0.117647) 0px 5px 22px 4px;
						.content{
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
		.right-phones{
			// background-color: #fff;
			overflow: hidden;
			width: 40%;
			@include display(flex);
			@include justify-content(center);
			@include flex-direction(column);
			.phone-wrapper{
				position: relative;
				display: block;
				margin: auto;
				width: 300px;
				height: 300px;
				// margin-right: 20px;
				.device{
					height: 240px;
					position: absolute;
					left: 0;
					top: 0;
					$x: 100px;
					@include animation-name(hoverY);
					@include animation-iteration-count(infinite);
					@include animation-timing-function(ease-in-out);
					&.android{
						top: 20px;
						left: $x + 45px;
						z-index: 9;
						animation-duration: #{4.8 * 4.5}s;
					}
					&.iphone{
						top: 20px;
						left: $x + 0px;
						z-index: 7;
						animation-duration: #{5.2 * 4.5}s;
					}
					&.tablet{
						top: 10px;
						left: 0px;
					    opacity: 1;
					    animation-duration: #{4.0 * 4.5}s;
					}
				}
			}
			.tagline{
				text-align: center;
				font-size: 20px;
				color: $colorAccent;
			}
		}
		@media screen and (max-width: 900px){
			.center-tile-container{
				width: 100%;
			}
			.right-phones{
				width: 100%;
				.phone-wrapper{
					margin: auto;
				}
				margin-bottom: 20px;
			}
		}
		.screenshot{
			opacity: 1;
			@include transform(none);
		}
	}
	.center-tile-container{
		opacity: 0;
		@include transition(all ease 400ms);
	}
	.screenshot{
		@include transition(all ease 400ms);
		@include transform(translateY(40%));
		opacity: 0;
	}
}
.second{
	background-image: url(../img/parts/back.jpg);
	background-size: cover;
	min-height: 100vh;
	@include transition(transform ease-out 400ms);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	.half-pen-wrapper{
		display: block;
		max-width: 340px;
		margin: auto;
		.half-pen{
			height: 500px;
			// @include transform(rotate(90deg));
		}
	}
	.typephase-wrapper{
		display: block;
		margin: auto;
		.typephase{
			display: block;
			margin: auto;
			max-width: 800px;
		}
	}
	&.done{
		opacity: 1;
		@include transform(translateY(100%));
	}

}
.arrow-wrapper{
	$aw : 50px;
	margin: auto;
	width: 100px;
}
@include keyframes(hoverY){0%{-webkit-transform:translate(0,0)scale(1);transform:translate(0,0)scale(1)}10%{-webkit-transform:translate(1px,2px)scale(1);transform:translate(1px,2px)scale(1)}20%{-webkit-transform:translate(0,-3px)scale(1);transform:translate(0,-3px)scale(1)}30%{-webkit-transform:translate(-1px,3px)scale(1);transform:translate(-1px,3px)scale(1)}40%{-webkit-transform:translate(0,-1px)scale(1);transform:translate(0,-1px)scale(1)}50%{-webkit-transform:translate(-1px,0)scale(1);transform:translate(-1px,0)scale(1)}60%{-webkit-transform:translate(0,-3px)scale(1);transform:translate(0,-3px)scale(1)}70%{-webkit-transform:translate(1px,2px)scale(1);transform:translate(1px,2px)scale(1)}80%{-webkit-transform:translate(0,-3px)scale(1);transform:translate(0,-3px)scale(1)}90%{-webkit-transform:translate(-1px,1px)scale(1);transform:translate(-1px,1px)scale(1)}100%{-webkit-transform:translate(0,0)scale(1);transform:translate(0,0)scale(1)}}